
    .navbar{
        width: 100% !important;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.8rem;
        margin-bottom: 2.25rem;
        box-sizing: border-box;
    }

    .logowrapper img {
         width: 100%;
         height: 1.25rem; 
    }

    .userName{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:0.5rem;
        font-size: var(--size-base);
        font-weight: 500;
    }

    .userName p {
          font-size: var(--size-sm);
          font-weight: 400;
    }

     /* .gotodashboard{
            padding: 11px 14px!important;
     } */

    .gotodashboard:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
        border: 1px solid #999999;
    }


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (max-width: 640px) {
    .logowrapper{
        width: 35%;
        /* border:1px solid */
    }
}

/* md */
@media (min-width: 768px) {

    .navbar{
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }

    .userName{
        gap:1rem;
    }

    /* .gotodashboard{
        padding: 12px 16px!important;
     } */
    .logowrapper img {
        width: 100%;
        height: 2.25rem; 
   }

    .userName p{
        font-size: var(--size-base);
        font-weight: 600;
    }

}

/* lg */
@media (min-width: 1024px) {

     .userName{
          gap:1rem;
     }

     /* .gotodashboard{
         padding: 12px 16px!important;
     } */

    .navbar{
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }

    .logowrapper img {
        width: 100%;
        height: 2.25rem; 
   }

    .userName p{
        font-size: var(--size-base);
        font-weight: 600;
    }

}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */