
        .freetrialcnt {
            /* padding-top: 2rem; */
            padding-bottom: 5rem;
        }

        .freetrialwrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            text-align: center;
            padding: 1.5rem  1.5rem;
            border-radius: 1rem;
            background: #9B51E0;

        }

        .freetrailiconwrapper {
            margin: 0 auto;
        }
      
        .freetrialcontent{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.45rem;
         
        }

        .freetrialcontent h2{
            color: #EDF6FF;
            font-size: var(--size-3xl);
            font-style: normal;
            margin: 0;
            font-weight: 700;
        }

        .freetrialcontent p{
            color: #EDF6FF;
            font-size: var(--size-xl);
            font-style: normal;
            font-weight: 300;
            margin: 0;
        }

        #freetrialbtn{
            display: flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 10px;
            background: #FFF;
            color: #12D30E;
            text-align: center;
            font-size: var(--size-base);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        /* #freetrialbtn:hover {
            background-color: #0056b3;
          }
           */
          #freetrialbtn:disabled {
            background-color: #cccccc;
            color: #666666;
            cursor: not-allowed;
            border: 1px solid #999999;
          }





/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

        .freetrialcnt {
            padding-top: 0rem;
        }

    .freetrialwrapper{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 2rem  4rem;
        border-radius: 2rem;
    }

    .freetrialcontent{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.5rem;
    }

}

/* lg */
        @media (min-width: 1024px) {

            .freetrialwrapper{
                display: flex;
                flex-direction: row;
                gap: 3rem;
                padding: 2.5rem  6rem;
                border-radius: 2rem;
            }

            .freetrailiconwrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .freetrialcontent{
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1.5rem;
            }

            .freetrialcontent h2{
                font-size: var(--size-5xl);
            }
    
            .freetrialcontent p{
                font-size: var(--size-3xl);
            }

            #freetrialbtn{
                padding: 1.25rem  2.25rem;
                gap: 15px;
                border-radius: 1.25rem;
                font-size: var(--size-2xl);
                font-weight: 700;
            }



        }

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

