.container{
   border-radius: 7px;
    background-color: white;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    position: static;
    font-family: "Figtree", sans-serif;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.06);
    
}
.topSection{
    display: flex;
    border-bottom: 0.4px solid darkgray;
    padding: 10px;
    
}
.mainRight{
    position: static;
}
.topLeft{
    display: flex;
    border-right: 1.5px solid black;
    width: fit-content;
    padding:10px;
    gap: 5px;
    padding-right: 20px;

    font-size: small;
}
.topLeft img{
    width: 15px;
}
.topRight{
    display: flex;
    gap: 10px;
    padding-left: 20px;
}
.pointerBtnDisabled{
    /* border: 1px solid black; */
    padding:6px;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    background-color: #F4F4F4;
    color: #CACACA;
    cursor: not-allowed;
}

.mainSection{
    /* border: 1px solid tomato; */
    display: flex;
}
.mainLeft{
    /* border: 1px solid forestgreen; */
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 19px;
    border-right: 1px solid darkgray;
    padding: 14px;
    padding-top: 15px;
}
.timeLeft{
    /* border: 1px solid cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 6px;
    gap: 5px;
}
.timeLeft img{
    width: 15px;
    border-right: 1px solid black;
    padding-right: 5px;
}
.pointerBtnEnabled{
    /* border: 1px solid black; */
    padding:6px;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    background-color: #E8EBFC;
    color: #4D67EB;
    cursor: pointer;
}
