.signup-card {
  width: 26rem;
  justify-content: center !important;

}

.signup-page {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.cardTitle {
  font-family: "Inter" !important;
  text-align: center;
  font-weight: 900 !important;
  font-size: 30px !important;
}
.sub-Title {
  font-family: "Inter" !important;
  text-align: center;
  color: #667085;
  font-weight: 400 !important;
}
.input-card{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* text-align: center; */
    /* width: 18rem; */
    margin-top: 1rem;
}
.phone-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 20rem; */
  /* margin-left: 3rem; */
}
.phone-title{
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 13px !important;
}
/* #phone-input{
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid grey;

} */
 .PhoneInput{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.174);
border-radius: 7px;
padding-left: 10px;
 }
.PhoneInput>input{
padding: 15px;
border: none;
outline: none;
margin-left: -15px;
}
.PhoneInput>select{
  border: 1px solid red;
  /* background-color: blue; */
  padding: 10px;
}

#phone-input:hover{
  border: 1px solid #7A38D4;
}
.email-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 20rem; */
    /* margin-left: 3rem; */
}
/* .email-textfield:hover{
  border: 0.5px solid #7A38D4;
  border-radius: 0.1rem;
} */
.email-title{
    font-family: "Inter";
    font-weight: 500 !important;
    font-size: 13px !important;
}
.password-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 20rem; */
    /* margin-left: 3rem; */
}
.password-card p{
    font-family: "Inter";
    font-weight: 500 !important;
    font-size: 13px !important;
}
.signup-button{
    font-family: "Inter" !important;
    font-weight: 600 !important;
    text-transform: none !important;
    padding: 7px 35px !important;
    background: linear-gradient(90deg, #7B35D4 0%, #55CAD6 100%);
}
.button-card{
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    /* padding: 7rem; */
    /* margin-bottom: 1rem; */
    margin-top: 0.5rem;
}
.last-option{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.termsSpan{
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
    /* .input-card{
        /* margin-left: 2rem; */
    /* }  */
    .signup-page {
      margin-top: 6rem !important;
    }
    /* .email-card{
        margin-left: 1.2rem;
    }
    .password-card{
        margin-left: 1.2rem;
    }  */
}
