/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
        text-align: center;
        padding: 10px 20px;
        border-radius: 12px;
        color: #fff;
        font-size: var(--size-sm);
        font-weight: 400;
        background: #E87211;
  }
  
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    box-sizing: border-box;
  }
  
  .section {
    margin-top:1rem;
  }
  
  .loading {
    filter: blur(40px) grayscale(100%);
  }
  
  .loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
  }
  
  /* xs */
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
    
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
      box-sizing: border-box;
    }


  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      box-sizing: border-box;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      box-sizing: border-box;
    }
  
    .section {
      margin-top: 10rem;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
      box-sizing: border-box;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
      box-sizing: border-box;
    }
  }
  